<h1>Ice Cream!</h1>


<ul>
  {{#each flavor}}
  <li>{{name}}</li>
  {{/each}}
</ul>

<h2>{{specific}}</h2>

<ul>
  {{#each icecream}}
  <li>{{price}}</li>
  <li>{{awesomeness}}</li>
  {{/each}}
</ul>

{{!-- ctrl shift g to open source control --}}